#fixed_positioned_panel {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #F0FFC8;
  box-shadow: -5px 5px 5px #777777;
}

body {
  font-family: verdana;
  margin:0px;
  border: 0px;
  padding: 0px;
}

#navigation_pane {
  width: 190px;
}
#sockets_API_Link, #http_comm_Link {
  margin: 10px;
}

#socket_call_link, #sockaddr_struct_link,
#addrinfo_struct_link, #getaddrinfo_call_link,
#bind_call_link, #connect_call_link,
#send_recv_calls_link {
  margin: 20px;
}

#header {  
  margin: 0px;
  border-bottom: 2px solid #000000;
  padding: 0px;
}

#Title {
 padding: 10px;
 margin: 0px;
 border: 0px;
 width: 500px; 
 display: inline-block;
}

#project_code {
  margin: 0px;
  border: 0px;
  padding: 0px;  
}

[class~="Section"] {
  padding: 10px;
  margin: 0px;
  border: 0px;
  width: 645px;
}

#Discussion_title, #comments_title {
  text-size: 20px;
  font-weight: bold;
}
#implementation_title, #Outline_title, 
#using_sockets_title {
  text-size: 18px;
  font-weight: bold;
}

.code_segment {
  background-color: #300a40;
  font-family: courier;
  color: #ffffff;
}

.code_segment .type {
  color:  rgb(144, 238, 144); 
} 
.code_segment .keyword {
  color: rgb(255, 255, 0);
}
.code_segment .comment {
  color: rgb(0, 255, 255);
} 
.code_segment .value {
  color: rgb(155,  48, 255);
}



 
