#ProjectsList {
  float: right;
  width: 330px;
  height: 1000px;
  margin-top: 80px;
  margin-left: 50px;
}
body {
 padding: 0px;
 border: 0px;
 margin: 0px;
}

#name {
  background-color: rgb(242,209,61);
  padding: 20px;
  margin: 0px;
  border-bottom: 2px solid #000000;
  font-size: 30px;
  font-weight: normal;
}
#About_Me {
  padding-left: 20px;
  padding-top: 10px;
} 
#Projects_List, #project-list {
  padding-left: 20px;
}
#about_me_title {
  font-size: 16px;
  font-weight: bold;
}

input.decade_selector1, input.decade_selector2, input.year_selector1, label.year_selector1, input.month_selector_2016, 
label.month_selector_2016, div.Dec2016_Projects,
input.month_selector_2017, label.month_selector_2017,
div.Jan2017_Projects,
input.decade_selector1:not(:checked) ~ [id^="year_2016"]:checked ~ label.month_selector_2016,
input.decade_selector1:not(:checked) ~ [id^="year_2017"]:checked ~ label.month_selector_2017,
[id^="year_2016"]:not(:checked) ~ input.month_selector_2016:checked + label + div,
input.decade_selector1:not(:checked) ~ [id^="year_2016"]:checked ~ input.month_selector_2016:checked + label + div,
[id^="year_2017"]:not(:checked) ~ input.month_selector_2017:checked + label + div,
input.decade_selector1:not(:checked) ~ [id^="year_2017"]:checked ~ input.month_selector_2017:checked + label + div
{
  display :none;
}

input.decade_selector1:checked ~ label.year_selector1
{
  display: block;
  margin-left: 20px;
}

[id^="year_2016"]:checked ~ label.month_selector_2016,
[id^="year_2017"]:checked ~ label.month_selector_2017
{
  display: block;
  margin-left: 40px;
}

[id^="December_2016"]:checked ~ div.Dec2016_Projects,
[id^="January_2017"]:checked ~ div.Jan2017_Projects
{
  display: block;
  margin-left: 80px;
}

/* CV styles */
#mainheader {
  text-align: center;
  margin-top: 20px;
}

#CVBody {
 padding-right: 100px;
 padding-left: 100px;
}


.subheading {
 font-size: 19px;
}

.subsection {
  overflow: auto; 
  width: 100%;
}

.subsectionhead {
  float: left; 
  width: 300px;
  clear:left; 
}

.subsectiondetail {
  float: left;
  margin-left: 20px;
}


